<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mongo Scraper</h1>
    <p class="lead">Fighting Games Edition</p>
    <button class="btn btn-primary" id="scrape-btn">Scrape</button>
  </div>
</div>
